<h1>Posts</h1>

<div id='posts'>
  <%= render @posts %>
</div>

<%= form_for @new_post, :remote => true do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <%= f.fields_for :post_body do |pbf| %>
    <p>
      <%= pbf.label :body %>
    </p>
    <%= pbf.text_area :body %>
  <% end %>
  <p>
    <%= f.submit %>
  </p>
<% end %>
